@use 'variables' as *;

// fade-in animation
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// fade-out animation
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

main * {
    animation: fade-up 1.5s;
}

header *, footer * {
    animation: fade-in 1s;
}

@media only screen and (max-width: $tablet) {
   
    header *, main *, footer * {
        animation: fade-up 1.5s;
    }

    .headshot, .headshot * {
        animation: fade-in 1s;
    }

}