@use 'variables' as *;

// font import
@font-face {
  font-family: "Crimson Pro";
  src: url(/assets/fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

// font variables
$font1: 'Crimson Pro',
serif;

html {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 400;

  @media only screen and (max-width: $mobile) {
    font-size: 16px;
  }
}

// a {
//   color: $black;
//   transition: color 1s;

//   &:hover {
//     transition: color 1s;
//     color: $color1;
//   }

//   @media only screen and (max-width: $mobile) {
//     &:hover {
//       color: $black;
//     }
//   }
// }

hr {
  background-color: rgba($color1, 0.8);
  border-style: solid;
  border-color: rgba($color1, 0.8);
  border-width: 2px;
  box-shadow: none;
  width: 1000px;
  width: 90%;
}

input, textarea, label {
  font-family: $font1;
}

body {
  text-align: left;
  font-size: 1rem;
  font-family: $font1;
  color: $black;
  a {
    color: $black;
  }
}

h1, h2, h3, h4 {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.button {
  font-size: 1rem;
  text-align: center;
  font-family: $font1;
  text-decoration: none;
  color: $white;
}

header {
  .heading {
    h1 {
      font-size: 5rem;
      font-weight: 400;
      color: $black;
      line-height: 0.9;
    }
    h2 {
      color: $color1;
      padding: 20px 0;
      padding-bottom: 0;
      font-style: italic;
      font-family: $font1;
      font-size: 1.75rem;
      font-weight: 400;
    }
    h3 {
      color: $color1;
      padding: 20px 0;
      padding-bottom: 0;
      font-style: italic;
      font-family: $font1;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

.about {
  margin-bottom: 50px;
  p {
    font-family: $font1;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    line-height: 1.75;

    &:first-of-type {
      padding-top: 10px;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

footer {
  color: $black;
  font-family: $font1;
  font-weight: 400;
  font-size: 0.9rem;
}

// responsive to tablet
@media only screen and (max-width: $tablet) {
  header {
    .heading {
      h1 {
        font-size: 6rem;
      }
    }
  }
}

// responsive to mobile
@media only screen and (max-width: $mobile) {
  header {
    .heading {
      h1 {
        font-size: 4rem;
        padding: 0 20px;
      }
      h2 {
        padding: 20px;
        padding-bottom: 15px;
        font-size: 1.5rem;
      }
      h3 {
        padding: 0 20px;
        font-size: 1.25rem;
      }
    }
  }
  .about {
    p {
      margin: 0;
      padding-bottom: 20px;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
  footer {
    a:hover {
      color: $black;
    }
    p {
      max-width: 95%;
      margin: 0 auto;
    }
  }
}