@use 'variables' as *;

// font import
@font-face {
  font-family: "Crimson Pro";
  src: url(/assets/fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

// font import
@font-face {
  font-family: "Fraunces";
  src: url(/assets/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format("truetype");
  font-display: swap;
}

// font variables
$font1: 'Crimson Pro',
serif;
$font2: 'Fraunces', serif;

// default typography
html {
  font-size: 20px;
  font-weight: 400;

  @media only screen and (max-width: $mobile) {
    font-size: 18px;
  }
}

// hyperlinks
a {
  text-decoration: none;
  font-style: normal;
  color: $black;
  transition: color 1s, font-style 1s;
  border-bottom: solid rgba($color2, 0.2) 2px;

  &:hover {
    font-style: italic;
    transition: color 1s, font-style 1s;
    color: $color2;
  }

  @media only screen and (max-width: $mobile) {
    &:hover {
      color: $black;
      font-style: normal;
    }
  }
}

// body text
body {
  text-align: left;
  font-size: 1rem;
  font-family: $font1;
  color: $black;
  a {
    color: $black;
  }
}

// headings
h1, h2, h3, h4 {
  font-family: $font2;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

h1 {
  color: $black;
  font-size: 2.25rem;
  text-align: center;

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    font-size: 2.5rem;
    padding-bottom: 5px;
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    font-size: 9vw;
  }
}

h2 {
  padding-bottom: 15px;
  font-style: italic;
  font-size: 1.5rem;

  // responsive to tablet
  @media only screen and (max-width: $tablet) {
    padding-bottom: 10px;
    font-size: 1.4rem;
    text-align: center;
  }

  // responsive to mobile
  @media only screen and (max-width: $mobile) {
    text-align: center;
    font-size: 1.25rem;
  }
}

// header and footer typography
header, footer {
  color: $black;
  font-family: $font1;
  font-weight: 500;
}

header {
  font-size: 1.1rem;

  .header-link {
    text-align: center;
  }
}

footer {
  font-size: 0.9rem;

  @media only screen and (max-width: $mobile) {
    font-size: 1rem;
  }
}

// main typography
main {
  p {
    font-family: $font1;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    line-height: 1.75;

    &:last-of-type {
      padding-bottom: 0 !important;
    }

    @media only screen and (max-width: $tablet) {
      text-align: center;
    }
  }
}