@use 'partials/setup';
@use 'partials/animations' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

// global styles
html { 
    background-color: $white;
    background-size: cover;
}

// body styles
body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

// wrapper styles
.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;

    // screens smaller than $mobile
    @media only screen and (max-width: $mobile) {
        width: 95%;
    }
}

// header styles
header {
    background-color: rgba($color1, 0.15);
    height: 125px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    .banner {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 40px;
        margin: 0;
        
        @media only screen and (max-width: $mobile) {
            justify-content: space-between;
        }
    }

    @media only screen and (max-width: $tablet) {
        height: auto;
        padding: 0;

        .banner {
            flex-direction: column-reverse;

            h1 {
                order: 6;
                padding-bottom: 20px;
            }
        }
    }
}

// footer styles
footer {
    background-color: rgba($color1, 0.15);
    height: 75px;
    padding: 0 40px;
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        p {
            margin: 0;
        }

        .counter {
            height: 20px;
            width: auto;
        }
    }

    @media only screen and (max-width: $tablet) {
        height: auto;
        padding: 40px;

        .wrapper {
            flex-direction: column;
        }
    }
}

// main styles
main {
    background-color: rgba($white, 0.9);
    display: flex;
    flex-flow: row wrap;
    margin: 0;

    @media only screen and (max-width: $tablet) {
        flex-direction: column;
    }

    .wrapper {
        width: calc(60%);
        height: calc(100vh - 200px);
        overflow-y: scroll;
        justify-content: center;
        gap: 25px;
        
        @media only screen and (max-width: $tablet) {
            overflow-y: unset;
            width: 100%;
            height: auto;
        }

        .about-content {
            padding: 40px;

            p {
                padding: 10px 0;
            }

            @media only screen and (max-width: $tablet) {
                padding: 20px;
            }
        }
    }
}

// headshot image
.headshot {
    width: 40%;
    height: calc(100vh - 200px);
    padding: 40px;
    padding-right: 0;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    @media only screen and (max-width: $tablet) {
        width: 100%;
        height: auto;
        max-height: 600px;
        padding: 0;
    }
}