html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
h1, h2, h3, h4 {
  animation: fade-in 1s;
  font-weight: 500;
}

hr, p, img, ul, li, a, blockquote, form, input, textarea, button, label, select, option, table, th, td {
  animation: fade-in 1s;
}

@font-face {
  font-family: "Crimson Pro";
  src: url(/assets/fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Motterdam";
  src: url(/assets/fonts/Motterdam/Motterdam.ttf) format("truetype");
  font-display: swap;
}
html {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

input, textarea, label {
  font-family: "Crimson Pro", serif;
}

body {
  text-align: left;
  font-size: 1rem;
  font-family: "Crimson Pro", serif;
  color: #28272A;
}
body a {
  color: #28272A;
}

h1, h2, h3, h4 {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.button {
  font-size: 1rem;
  text-align: center;
  font-family: "Crimson Pro", serif;
  text-decoration: none;
  color: #f4e8e5;
}

header .heading h1 {
  font-family: "Motterdam", serif;
  font-size: 6rem;
  font-weight: 400;
  color: #28272A;
  line-height: 0.9;
  margin-top: 20px;
}
header .heading h2 {
  color: #805475;
  padding: 20px 0;
  padding-bottom: 0;
  font-style: italic;
  font-family: "Crimson Pro", serif;
  font-size: 2rem;
  font-weight: 400;
}
header .heading h3 {
  color: #805475;
  padding: 20px 0;
  padding-bottom: 0;
  font-style: italic;
  font-family: "Crimson Pro", serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.about {
  margin-bottom: 50px;
}
.about p {
  font-family: "Crimson Pro", serif;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  line-height: 1.75;
}
.about p:last-of-type {
  padding-bottom: 0;
}

footer {
  color: #28272A;
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  font-size: 0.9rem;
}

@media only screen and (max-width: 970px) {
  header .heading h1 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 768px) {
  header .heading h1 {
    font-size: 4rem;
    padding: 0 20px;
  }
  header .heading h2 {
    padding: 20px;
    padding-bottom: 15px;
    font-size: 1.5rem;
  }
  header .heading h3 {
    padding: 0 20px;
    font-size: 1.25rem;
  }
  .about p {
    margin: 0;
    padding-bottom: 20px;
  }
  .about p:last-of-type {
    padding-bottom: 0;
  }
  footer a:hover {
    color: #28272A;
  }
  footer p {
    max-width: 95%;
    margin: 0 auto;
  }
}
html {
  background-color: #f4e8e5;
  background-size: cover;
}

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
@media only screen and (max-width: 970px) {
  body.nav-open {
    overflow-y: hidden;
  }
}

input, textarea {
  background-color: #f4e8e5;
  border: none;
  padding: 10px 15px;
}

textarea {
  height: 150px;
}

.about {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .about {
    padding-top: 0;
  }
}
.about .wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .about .wrapper {
    flex-direction: column;
  }
}
.about .about-content {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .about .about-content {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
}
.about .about-content hr {
  background: none;
  border: dashed #28272A 2px;
  width: 100%;
  margin: 10px 0;
  padding: 0;
  margin-bottom: 25px;
}

.headshot {
  width: 40%;
  height: auto;
  padding: 20px 0;
  padding-top: 0;
}
.headshot img {
  box-shadow: rgba(40, 39, 42, 0.12) 0px 2px 4px 0px, rgba(40, 39, 42, 0.32) 0px 2px 16px 0px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .headshot {
    padding: 20px;
    padding-top: 0;
    width: 100%;
  }
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.button {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(128, 84, 117, 0.15);
  border-width: 0;
  box-shadow: rgba(40, 39, 42, 0.4) 0 2px 4px, rgba(40, 39, 42, 0.3) 0 7px 13px -3px, rgba(128, 84, 117, 0.05) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #28272A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  font-size: 0.9rem;
  line-height: 1;
  font-weight: 500;
  list-style: none;
  overflow: hidden;
  padding: 5px 30px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.4s, transform 0.4s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  gap: 10px;
}
.button:focus {
  box-shadow: rgba(128, 84, 117, 0.05) 0 0 0 1.5px inset, rgba(40, 39, 42, 0.4) 0 2px 4px, rgba(40, 39, 42, 0.3) 0 7px 13px -3px, rgba(128, 84, 117, 0.25) 0 -3px 0 inset;
}
.button:hover {
  box-shadow: rgba(40, 39, 42, 0.4) 0 4px 8px, rgba(40, 39, 42, 0.3) 0 7px 13px -3px, rgba(128, 84, 117, 0.05) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button:active {
  box-shadow: rgba(40, 39, 42, 0.4) 0 2px 4px, rgba(40, 39, 42, 0.3) 0 7px 13px -3px, rgba(128, 84, 117, 0.05) 0 -3px 0 inset;
  transform: translateY(2px);
}
.button .icon {
  width: 18px;
}
@media only screen and (max-width: 768px) {
  .button {
    padding: 5px 20px;
  }
  .button .button-label {
    display: none;
  }
}

header {
  background-color: rgba(244, 232, 229, 0.9);
  height: auto;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
header .banner {
  background-color: rgba(128, 84, 117, 0.15);
  box-shadow: rgba(40, 39, 42, 0.12) 0px 2px 4px 0px, rgba(40, 39, 42, 0.32) 0px 2px 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 40px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  header .banner {
    justify-content: space-between;
  }
}
header .title {
  width: 100%;
  max-width: 1260px;
  padding-top: 10px;
  margin: 0;
}

section {
  background-color: rgba(244, 232, 229, 0.9);
}

footer {
  padding: 40px;
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .wrapper p {
  margin: 0;
}
footer .button {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
  header {
    margin: 0;
  }
  header .title {
    width: 100%;
  }
}